body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #5d5d5d;

  background-color: #000;

  overflow-x: hidden;

  display: flex; /* body를 flex 컨테이너로 */
  flex-direction: column; /* 세로 방향 */
  min-height: 100vh; /* 화면 전체 높이 */
}

.main {
  flex: 1;
  display: block;
  justify-content: center;
  align-items: flex-start;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
